.certificateDiv {
    margin: 1%;
}

.cetiImg {
    height: 650px;
    max-height: 550px;
}

@media screen and(max-width: 500px) {
    .cetiImg {
        max-width: 400px
    }
    .certificateDiv {
        margin: 0%;
    }
}